@page "/WorkstationFL"
@page "/WorkstationFL/{operation}/{llamador}"

@inject NavigationManager NavigationManager

@using Inventario5.Models
@using Microsoft.EntityFrameworkCore;
@using Inventario5.Shared.clases;

<h1>@PLURAL_NAME</h1>


@if (lItem == null) {
    <p><em>Cargando...</em></p>
} else {
    <div class="container">
        <div class="row">
            <div class="col"><h2>Lista</h2></div>
            <div class="col-auto"><NavLink class="btn btn-primary" href="WorkstationFE/insert/0">Crear @SINGULAR_NAME</NavLink></div>
        </div>
        <div class="row"><div class="col"><output>@mensaje</output></div></div>
        
        <table class="table">
            <thead>
                <tr>
                    <th>Código</th>
                    <th>Número de Serie</th>
                    <th>Persona</th>
                    <th>Ubicación</th>
                    <th>Marca y Modelo</th>
                    <th>Opciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in lItem) {
                    actual = item;
                    <tr>
                        <td>@textoElementoInventariableCodigo</td>
                        <td>@textoOrdenadorNumeroSerie</td>
                        <td>@textoPersonaNomb</td>
                        <td>@textoUbicacionNomb</td>
                        <td>@textoMarcaymodeloNomb</td>
                        <td>
                            @((MarkupString)On.generateButtons("Workstation",Operation,item.Id))
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

}

@code {

    private const string OPERATION_PAGE = "WorkstationFE";
    private const string SINGULAR_NAME= "Estación de Trabajo";
    private const string PLURAL_NAME = "Estaciones de Trabajo";

    [Parameter]
    public string Operation { get; set; }
    [Parameter]
    public string Llamador { get; set; }

    private Workstation actual; //Almacena el elemento actual para no ser necesario el pasarlo como parámetro al pedirlo en otras funciones
    private List<Workstation> lItem; //Lista de elementos en los que se basa el formulario de lista.
    private Ordenador Ordenador => actual.IdNavigation; //Utilidad para obtener el ordenador
    private ElementoInventariable ElementoInventariable => actual.IdNavigation.IdNavigation;//Utilidad para obtener el ElementoInventariable
    private string textoElementoInventariableCodigo => ElementoInventariable.Codigo ?? "Código no definido";
    private string textoOrdenadorNumeroSerie => Ordenador.NumeroSerie ?? "Número de serie no definido";
    private string textoPersonaNomb => ElementoInventariable.IdPersonaNavigation != null ? ElementoInventariable.IdPersonaNavigation.Nomb : "Persona no definida" + actual.ToString();
    private string textoUbicacionNomb => ElementoInventariable.IdUbicacionNavigation != null ? ElementoInventariable.IdUbicacionNavigation.Nomb : "Ubicación no definida";
    private string textoMarcaymodeloNomb => ElementoInventariable.IdMarcaYmodeloNavigation != null ? ElementoInventariable.IdMarcaYmodeloNavigation.Nomb : "Marca y modelo no definidos";


    private string mensaje = "";
    private InventarioDBContext context = new InventarioDBContext();

    protected override void OnInitialized() {
        this.lItem = context.Workstations
            .Include(x => x.IdNavigation)
                .ThenInclude(x => x.IdNavigation)
                    .ThenInclude(p => p.IdPersonaNavigation)
            .Include(x => x.IdNavigation)
                .ThenInclude(x => x.IdNavigation)
                    .ThenInclude(u => u.IdUbicacionNavigation)
            .Include(x => x.IdNavigation)
                .ThenInclude(x => x.IdNavigation)
                    .ThenInclude(m => m.IdMarcaYmodeloNavigation)
            .ToList();
    }
}
